.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.imageWrapper {
  margin: 20px 0;
  text-align: center;
}

.image {
  border-radius: 10px;
}

.author {
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.description {
  line-height: 1.6;
  margin-top: 20px;
}

